
.vs/Task01/v16/.suo
.vs/Task01/v16/Browse.VC.db
.vs/Task01/v16/Browse.VC.db-shm
.vs/Task01/v16/Browse.VC.db-wal
.vs/Task01/v16/Browse.VC.opendb
.vs/Task01/v16/ipch/368a8002fadddb78.ipch
.vs/Task01/v16/ipch/AutoPCH/3e7c058a6fa0b9ec/CINI.ipch
*.ipch
